.card {
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.jf-content-section {
    overflow: scroll;
}

.jf-heading-container {
    background: var(--primary);
    text-align: center;
}

.jf-codeblock {
    border: 3px solid var(--primary);
    padding: 1rem;
}

.jf-codeblock p {
    margin: 0;
}

.jf-codeblock pre {
    margin: 0;
}

.jf-codeblock p pre {
    margin: 0;
}

.jf-codeblock .figure-caption {
    text-align: right;
    vertical-align: bottom;
}

nav.navbar {
    font-weight: 100;
    padding: 1.5rem;
}

a.nav-link {
    color: var(--secondary);
    font-size: 1.5rem;
    transition: none;
}

.nav-link:hover {
   color: var(--secondary-dark);
    text-decoration: none;
}

.nav-link:focus {
    color: var(--secondary-dark);
    text-decoration: none;
}

